body{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin: 0;
}

.container{
    height: 100vh;
    width: 100%;
    margin: 0;
    display: flex;
    background-color: black;
}
.container-black{
    margin-left: 80px;
    margin-top: 50px;
    height: 100vh;
    width: 50%;
    color: white;
}
.logo-container{
    justify-content: left;
    align-items: left;
    transition: 4s;
}

.logo-container:hover{
    transform: rotateX(400deg);
}

.container-wrapper{
    justify-content: center;
    align-items: absolute;
    position: center;
    margin-top: 50%;
}

.container-wrapper p{
    font-size: 20px;
}

.container-wrapper .btn-container{
    background-color: red;
    border: 1px solid red;
    height: 60px;
    width: 150px;
    padding: 10px;
    border-radius: 20rem;
    transition: 1s;
}

.container-wrapper .btn-container:hover{
    transform: scale(1.2);
}

.container-wrapper a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.container-red{
    background-color:brown;
    height: 100%;
    width: 100%;
    border: 1px solid brown;
    clip-path: circle(100% at right -10%);
}
.navbar-container{
    margin-right: 80px;
    margin-top: 50px;
    text-align: right;
    color: white;
    line-height: 5px;
}

.navbar-container li{
    display: inline;
    margin-right: 5%;
}

.navbar-container a{
    font-size: 20px;
    text-decoration: none;
    color: white;
    word-spacing: 20px;
    transition: 0.5s;
}

.navbar-container a:hover{
    color: black;
}

.swipper{
    margin-top: 20%;
    height: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 30%;
}

.swipper button{
    margin-top: 25%;
    cursor: pointer;
    height: 50px;
    width: 50px;
    background-color: transparent;
    border: transparent;
    color: white;
    font-size: 40px;
    transition: 0.5s;
}

.swipper button:hover{
    color: black;
}

.swipper img{
    max-height: 400px;
    max-width: 300px;
    padding-left: 60px;
    padding-right: 60px;
}

.section-more{
    width: 100%;
    height: 100%;
}

.more{
    height: 50%;
    display: flex;
    margin-left: 120px;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-right: 120px;
}

.more-sabores{
    height: 100%;
    width: 100%;
    margin-right: 120px;
    padding: 20px;
    align-items: center;
    justify-content: center;
}
.more-sabores h3{
    padding: 10px;
    text-align: left;
    border-left: 4px solid red;
    box-sizing: content-box;
}

.sabores-itens{
    margin: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
}

.baunilha-e-zero{
    width: 33.4%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.baunilha-e-zero img{
    align-items: center;
    justify-content: center;
    padding: 5px; 
    display: flex;
    vertical-align: text-bottom;
}

.baunilha-e-zero a{
    width: 60%;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.coke{
    width: 33.4%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.coke img{
    align-items: center;
    justify-content: center;
    padding: 5px;
    display: flex;
}

.coke a{
    width: 60%;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.origins{
    width: 33.4%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

}

.origins img{
    align-items: center;
    justify-content: center;
    padding: 5px;
    display: flex;
}

.origins a{
    width: 60%;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.more-types{
    height: 50%;
    display: flex;
    margin-left: 120px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 120px;
}

.types{
    height: 100%;
    width: 100%;
    margin-right: 120px;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.types h3{
    padding: 10px;
    text-align: left;
    border-left: 4px solid red;
    box-sizing: content-box;
}

.types-itens{
    height: 100%;
    width: 100%;
    margin: 20px;
    padding: 10px;
    display: flex;
    text-align: center;
    flex-direction: row;
}

.types-itens img{
    padding-left: 7%;
    padding-right: 7%;
    max-width:300px;
    max-height:300px;
    width: auto;
    height: auto;
    cursor: pointer;
    transition: 1s;
}

.types-itens img:hover{
    transform: scale(1.3);
}

.footer{
    width: 100%;
    height: 50%;
    background-color: black;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.footer-content{
    margin-left: 25%;
    margin-right: 25%;
}

.more-coca{
    display: flex;
    height: 100%;
    width: 100%;
}
.footer-logo{
    height: 100%;
    width: 100%;
    align-items: left;
    text-align: left;
}

.footer-logo img{
    max-width: 200px;
    max-height: 200px;
    margin-top: 30px;
}

.comunication{
    margin-top: 4%;
    align-items: right;
    justify-content: right;
    text-align: right;
}

.comunication a{
    text-decoration: none;
    color: white;
    align-items: right;
    justify-content: right;
    text-align: right;
}

.social-info{
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 5%;

}

.social-media{
    width: 100%;
    height: 100%;
    justify-content: right;
    text-align: right;
    word-spacing: 20px;
    padding-right: 5%;
}

.information{
    text-align: left;
}

.social-media img{
    width: 25px;
    height: 25px;
}

